
body {
    background-color: rgb(92, 87, 87); 
}



.header1 {
    color: aqua;
    font-family: auto; 
    margin-left: 80vh;
}  
.header2 {
    color: aqua;
    font-family: auto; 
    margin-left: 83vh;
}  